h1{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font-family: "hobo std";
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.back {
    margin-left: 30px;
    margin-top: 40px;
}

/* --------------------------------------
   Layout
   -------------------------------------- */
#features {
	text-align: center;
}

#features img {
	margin: 0 0 20px;
}

#orientation {
    text-align: left;
}

/* --------------------------------------
   Button Styles
   -------------------------------------- */
.btn-default {
  color: #ffffff;
  background-color: #00468B;
  border-color: #00468B;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background-color: #FE0005;
  border-color: #FE0005;
}
